@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Components.Authorization

<CascadingAuthenticationState>
    <Router AppAssembly="typeof(Program).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="routeData" DefaultLayout="typeof(Layout.MainLayout)" />
            <FocusOnNavigate RouteData="routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not Found</PageTitle>
            <LayoutView Layout="typeof(Layout.MainLayout)">
                <p style="padding: 24px; text-align: center; font-weight: 700; font-family: 'Plus Jakarta Sans', sans-serif; color: #1E293B;">
                    ⚠️ 404 Error: The specified URL directory track path endpoint was not located.
                </p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
